.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.flex-col {
  margin-bottom: 1em;
}

input {
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: rgb(20, 20, 48);
}

th {
  background-color: #f2f2f2;
}

/* Add the following styles to ensure two columns even on smaller screens */
/* Add the following styles to ensure two columns even on smaller screens */
@media (max-width: 767px) {
  td, th {
    display: flex;
    flex-wrap: wrap;
  }

  td div, th div {
    flex: 1 0 50%; /* Set a specific width for each column */
    box-sizing: border-box;
  }

  td:first-child div, th:first-child div {
    text-align: left; /* Align text at the top for the first column in mobile view */
  }
}

