/* ... Your existing styles ... */

.App {
  /* Your existing styles for the .App container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Add this line to ensure the container takes the full height of the viewport */

}


.flex-col {
  /* Your existing styles for the .flex-col container */
  margin-bottom: 1em;
}

input {
  /* Your existing styles for the input */
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: navy;
  background-color: #f2f2f2;
}

/* Add the following styles to make the table responsive */
@media (max-width: 767px) {
  th, td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  td:first-child {
    text-align: left; /* Align text at the top for the first column in mobile view */
  }
}
